html {
  box-sizing: border-box;
}

.grid-layout {
  display: grid;
  grid-template-areas: 'cardImg ratiosAndBtns ratiosAndBtns'
                       'cardImg filtersAndSearch filtersAndSearch'
                       'cardImg deckAndCardList deckAndCardList'
                       'cardInfo deckAndCardList deckAndCardList'
                       'cardInfo deckAndCardList deckAndCardList'
                       'cardInfo deckAndCardList deckAndCardList';
  grid-template-rows: minmax(0, 0.35fr) 
                      minmax(0, 1.25fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr);
}

.cardImg-area {
  grid-area: cardImg;
}
.cardInfo-area {
  grid-area: cardInfo;
}
.ratiosAndBtns-area {
  grid-area: ratiosAndBtns;
}
.filtersAndSearch-area {
  grid-area: filtersAndSearch;
}
.deckAndCardList-area {
  grid-area: deckAndCardList;
}

