.builder-grid-layout {
  display: grid;
  grid-template-areas: 
    'builder-card-img ratios-and-btns ratios-and-btns'
    'builder-card-img filters-and-search filters-and-search'
    'builder-card-img deck-and-card-list deck-and-card-list'
    'builder-card-info deck-and-card-list deck-and-card-list'
    'builder-card-info deck-and-card-list deck-and-card-list'
    'builder-card-info deck-and-card-list deck-and-card-list';


  grid-template-columns: minmax(0, 0.75fr) 
                         minmax(0, 1fr) 
                         minmax(0, 1fr);

  grid-template-rows: minmax(0, 0.35fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr);
}

.builder-card-img-area {
  grid-area: builder-card-img;
}

.builder-card-info-area {
  grid-area: builder-card-info;
}

.ratios-and-btns-area {
  grid-area: ratios-and-btns;
}

.filters-and-search-area {
  grid-area: filters-and-search;
}

.deck-and-card-list-area {
  grid-area: deck-and-card-list;
}
