.duel-field-grid-layout {
  display: grid;
  grid-template-areas: 'field-card-img field field'
                       'field-card-img field field'
                       'field-card-img field field'
                       'field-card-info field field'
                       'field-card-info field field'
                       'field-card-info field field';

  grid-template-columns: minmax(0, 0.75fr) 
                         minmax(0, 1fr) 
                         minmax(0, 1fr);

  grid-template-rows: minmax(0, 0.35fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr) 
                      minmax(0, 1fr);
}

.game-card-img-area {
  grid-area: field-card-img;
}
.game-card-info-area {
  grid-area: field-card-info;
}
.field-area {
  grid-area: field;
}